<% include header.ejs %>

<body>

  <!-- set for scroll -->
  <p id="scollIndex" style="display:none;"><%=positionScroll%></p>

  <% include headerMenu.ejs %>

  <% include categoryMenu.ejs %>

  <!--Products -->

  <section class="white-section" id="main-products">
    <h2 class="section-heading">A Plan for Every Person's Needs</h2>
    <p>Simple and affordable price plans for you.</p>
    <div class="row row_posts">

      <% for(let i=10*(parseInt(indexProduct)-1);i<(10*parseInt(indexProduct)) && i<postsinf.length;i++ ) {%>
        <div class="card col-lg-4">
          <form class="" action="/posts/<%=postsinf[i].id%>" method="post">
            <title style="display:none;"><%=postsinf[i].id %></title>
            <img src=<%=postsinf[i].image %> class="card-img-top" alt="bag" style="height:180px;"/>
            <div class="card-body">
              <h10 class="card-title"><%=postsinf[i].title.substring(0,25) %></h10>
              <h4 style="display:inline;color:#FF4D4D;">$<%= postsinf[i].price %></h4> <strike class="text-muted"> $<%= postsinf[i].price %> </strike>
              <span class="stars">
                    <svg height="20" >
                      <line x1="10" y1="0" x2="170" y2="0" style="stroke:#D3D3D3;stroke-width:2" />
                    </svg>
                    <span class="fa fa-star checked-star"></span>
              <span class="fa fa-star checked-star"></span>
              <span class="fa fa-star checked-star"></span>
              <i class='fa fa-star' style='color: #D3D3D3;'></i>
              <i class='fa fa-star' style='color: #D3D3D3;'></i>
              </span>

              <div class="icons-post">
                <span class="bg-icons"><i class='fa fa-heart'></i></span>
                <span class="bg-icons"><i class='fas fa-exchange-alt'></i></span>
                <span class="bg-icons"><i class='fa fa-eye'></i></span>
              </div>

            </div>
            <div class="div-add">
              <%if(user_log=="" || user_log.cart.length==0){%>
                <button type="button" name="button" class="btn btn-danger button-addToCart" ><i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i>   ADD TO CART</button>
              <%}else{%>
              <%for(let k=0;k<user_log.cart.length;k++){%>
              <%  if(user_log.cart[k].product.id==postsinf[i].id){%>
                  <div class="plus-minus">
                    <i class="fa fa-minus minus-button" aria-hidden="true"></i>
                    <input type="button" disabled name="" value="<%=user_log.cart[k].count%>" class="range-product">
                    <i class="fa fa-plus plus-button" aria-hidden="true"></i>
                  </div>
                  <%break%>
                <%}else if(k==user_log.cart.length-1){%>
                  <button type="submit" name="button" class="btn btn-danger button-addToCart" ><i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i>   ADD TO CART</button>
                <%}%>
              <%}%>
            <%}%>
            </div>
          </form>
        </div>
        <% } %>

    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= statePre %>" >
          <a class="page-link" id="page_pre" href="" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" id="page_1" href="/pages/1">1</a></li>
        <li class="page-item"><a class="page-link" id="page_2" href="/pages/2">2</a></li>
        <li class="page-item"><a class="page-link" id="page_3" href="/pages/3">3</a></li>
        <li class="page-item <%= stateNext %>">
          <a class="page-link" id="page_next" href="">Next</a>
        </li>
      </ul>
    </nav>

  </section>

  <!-- Testimonials for Golden sentences-->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Don't be into trends. Don't make fashion own you, but you decide what you are, what you want to express by the way you dress and the way to live.</h2>
          <img class="testimonial-image" src="/images/gianni-versace.jpg" alt="gianni-versace">
          <em>Gianni Versace</em>
        </div>
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">I firmly believe that with the right footwear one can rule the world.</h2>
          <img class="testimonial-image" src="/images/bette_midler.jpg" alt="bette_midler">
          <em>Bette Midler</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>

  <!-- Press for many logo -->

  <section class="white-section" id="press">
    <img class="press-logo" src="/images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="/images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="/images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="/images/mashable.png" alt="mashable-logo">

  </section>

  <!-- slider section -->

  <section class="colored-section" id="slider">
    <div class="header-nav-section" id="header-nav-section">
      <h5 class="section-heading">NEW PRODUCTS</h5>
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo05">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link categories-item selected-category" href="#slider"> Laptops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#slider">Smartphones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#slider"> Cameras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#slider"> Accessories</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
    <div id="slider-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="row row_posts slider">

          <% for(let i=0;i<postsinf.length;i++ ) {%>
            <div class="card col-lg-2 card_slider" style="display: none;">
              <form class="" action="/posts/<%=postsinf[i].id%>" method="post">
                <title style="display:none;"><%=postsinf[i].id %></title>
                <img src=<%=postsinf[i].image %> class="card-img-top" alt="bag" style="height:180px;"/>
                <div class="card-body">
                  <h10 class="card-title"><%=postsinf[i].title.substring(0,25) %></h10>
                  <h5 style="display:inline;color:#FF4D4D;">$<%= postsinf[i].price %></h5> <strike class="text-muted"> $<%= postsinf[i].price %> </strike>
                  <span class="stars">
                    <svg height="20" >
                      <line x1="10" y1="0" x2="170" y2="0" style="stroke:#D3D3D3;stroke-width:2" />
                    </svg>
                    <span class="fa fa-star checked-star"></span>
                  <span class="fa fa-star checked-star"></span>
                  <span class="fa fa-star checked-star"></span>
                  <i class='fa fa-star' style='color: #D3D3D3;'></i>
                  <i class='fa fa-star' style='color: #D3D3D3;'></i>
                  </span>

                  <div class="icons-post">
                    <span class="bg-icons"><i class='fa fa-heart'></i></span>
                    <span class="bg-icons"><i class='fas fa-exchange-alt'></i></span>
                    <span class="bg-icons"><i class='fa fa-eye'></i></span>
                  </div>

                </div>
                <div class="div-add">
                  <%if(user_log=="" || user_log.cart.length==0){%>
                    <button type="button" name="button" class="btn btn-danger button-addToCart" ><i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i>   ADD TO CART</button>
                  <%}else{%>
                  <%for(let k=0;k<user_log.cart.length;k++){%>
                  <%  if(user_log.cart[k].product.id==postsinf[i].id){%>
                      <div class="plus-minus">
                        <i class="fa fa-minus minus-button" aria-hidden="true"></i>
                        <input type="button" disabled name="" value="<%=user_log.cart[k].count%>" class="range-product">
                        <i class="fa fa-plus plus-button" aria-hidden="true"></i>
                      </div>
                      <%break%>
                    <%}else if(k==user_log.cart.length-1){%>
                      <button type="submit" name="button" class="btn btn-danger button-addToCart" ><i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i>   ADD TO CART</button>
                    <%}%>
                  <%}%>
                <%}%>
                </div>
              </form>
            </div>
            <% } %>

        </div>
      </div>
      <a class="carousel-control-prev pre-button" href="#slider-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next next-button" href="#slider-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>

  <!-- Call to Action Download -->

  <section class="white-section" id="cta">

    <div class="container-fluid">

      <h3 class="big-heading">Buy your clothes and accessories from us.</h3>
      <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
      <button class="download-button btn btn-lg brn-light btn-outline-dark" type="button"><i class="fab fa-google-play"></i> Download</button>
    </div>
  </section>

  <!-- Features -->

  <section class="colored-section"  id="features">
    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon-feature fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>So easy to use, even your child could do it.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon-feature fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Elite Clientele</h3>
          <p>We have all the clothes, the greatest clothes.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon-feature fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work.</h3>
          <p>Find the best accessories you need or get your money back.</p>
        </div>
      </div>
    </div>
  </section>


<% include toast.ejs %>

  <!-- Footer -->
<% include footer.ejs %>
