<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ali Website</title>

  <!-- own file -->

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/post.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/frame.css">
  <link rel="stylesheet" href="/css/cartMenu.css">


  <!-- Font Awesome -->
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> -->

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script defer src="/js/script.js"></script>

</head>

<body>

  <header>
    <div id="top-header">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"> <i class="fa fa-phone"></i> +98-912-078-1225 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> aliakbarvafaei.060@email.com</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-telegram" aria-hidden="true"></i> @aliakbar_vafaei_</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-usd" aria-hidden="true"></i> USD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> My Account</a>
            </li>
          </ul>
        </nav>
    </div>
    <div id="header">
      <nav id="header-nav" class="row">
        <div class="col-lg-3 col-md-12 name-site"> AliWebsite. </div>
        <form class="form-inline my-2 my-lg-0 col-lg-5 col-md-12">
            <input id="inputSearch" class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button id="buttonSearch" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </input>
        </form>
        <ul class="rightMenu col-lg-3 col-md-12">
          <li class="rightMenu-item" >
            <div id="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Your Wishlist</div>
          </li>
          <li class="rightMenu-item cart-menu dropdown" id="cart">
            <div class="dropdown-toggle" data-toggle="dropdown" id="cart-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Your Cart</div>
            <div class="shopping-cart dropdown-menu">

              <ul class="shopping-cart-items">

              </ul>

              <div class="shopping-cart-footer">
                <i class="fa fa-shopping-cart cart-icon" style="color:#c90124;"></i>
                <div class="shopping-cart-total">
                  <span class="lighter-text">Total:</span>
                  <span class="main-color-text">$2,229.97</span>
                </div>
              </div>
              <button type="submit" class="btn button-cart-menu dark">View Cart</button>
              <button type="submit" class="btn button-cart-menu">Checkout <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>
          </li>
          <li class="rightMenu-item" id="togglerMenu">
            <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo05">
              <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
              <div id="menuText">Menu</div>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div id="category" class="container-fluid">
        <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo05">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link categories-item selected-category" href="../home"> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link categories-item" href="#"> Hot Deals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link categories-item" href="#">categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link categories-item" href="#">Laptops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link categories-item" href="#">Smartphones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link categories-item" href="#">Cameras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link categories-item" href="#">Accessories</a>
              </li>
            </ul>
          </div>

        </nav>
  </div>
  </header>

  <!-- download-section -->

  <section class="colored-section" id="download-section">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Ali Website App</h1>
          <h4>Download Free, Get it now,</h4>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-dark btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="/images/mobile.png" style="width:50%" alt="app-download">
        </div>

      </div>

    </div>

  </section>

  <!--Products -->

  <section class="white-section" id="main-products">
    <h2 class="section-heading">A Plan for Every Dog's Needs</h2>
    <p>Simple and affordable price plans for your and your dog.</p>
    <div class="row row_posts">

      <% for(let i=10*(parseInt(indexProduct)-1);i<(10*parseInt(indexProduct)) && i<postsinf.length;i++ ) {%>
        <div class="card col-lg-2">
          <title style="display:none;"><%=postsinf[i].id %></title>
          <img src=<%=postsinf[i].image %> class="card-img-top" alt="bag" style="height:180px;"/>
          <div class="card-body">
            <h10 class="card-title"><%=postsinf[i].title.substring(0,25) %></h10>
            <h4 style="display:inline;color:#FF4D4D;">$<%= postsinf[i].price %></h4> <strike class="text-muted"> $<%= postsinf[i].price %> </strike>
            <span class="stars">
                  <svg height="20" >
                    <line x1="10" y1="0" x2="170" y2="0" style="stroke:#D3D3D3;stroke-width:2" />
                  </svg>
                  <span class="fa fa-star checked-star"></span>
            <span class="fa fa-star checked-star"></span>
            <span class="fa fa-star checked-star"></span>
            <i class='fa fa-star' style='color: #D3D3D3;'></i>
            <i class='fa fa-star' style='color: #D3D3D3;'></i>
            </span>

            <div class="icons-post">
              <span class="bg-icons"><i class='fa fa-heart'></i></span>
              <span class="bg-icons"><i class='fas fa-exchange-alt'></i></span>
              <span class="bg-icons"><i class='fa fa-eye'></i></span>
            </div>

          </div>
          <div class="div-add">
            <button type="button" name="button" class="btn btn-danger button-addToCart" ><i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i>   ADD TO CART</button>
            <div class="plus-minus" style="display:none;">
              <i class="fa fa-minus minus-button" aria-hidden="true"></i>
              <input type="button" disabled name="" value="1" class="range-product">
              <i class="fa fa-plus plus-button" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <% } %>

    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= statePre %>" >
          <a class="page-link" id="page_pre" href="" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" id="page_1" href="/pages/1">1</a></li>
        <li class="page-item"><a class="page-link" id="page_2" href="/pages/2">2</a></li>
        <li class="page-item"><a class="page-link" id="page_3" href="/pages/3">3</a></li>
        <li class="page-item <%= stateNext %>">
          <a class="page-link" id="page_next" href="">Next</a>
        </li>
      </ul>
    </nav>

  </section>

  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Don't be into trends. Don't make fashion own you, but you decide what you are, what you want to express by the way you dress and the way to live.</h2>
          <img class="testimonial-image" src="/images/gianni-versace.jpg" alt="gianni-versace">
          <em>Gianni Versace</em>
        </div>
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">I firmly believe that with the right footwear one can rule the world.</h2>
          <img class="testimonial-image" src="/images/bette_midler.jpg" alt="bette_midler">
          <em>Bette Midler</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Press -->

  <section class="colored-section" id="press">
    <img class="press-logo" src="/images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="/images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="/images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="/images/mashable.png" alt="mashable-logo">

  </section>


  <!-- slider section -->

  <section class="white-section" id="slider">
    <div class="header-nav-section" id="header-nav-section">
      <h5 class="section-heading">NEW PRODUCTS</h5>
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo05">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link categories-item selected-category" href="#slider"> Laptops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#slider">Smartphones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#slider"> Cameras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#slider"> Accessories</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
    <div id="slider-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="row row_posts slider">

          <% for(let i=0;i<postsinf.length;i++ ) {%>
            <div class="card col-lg-2 card_slider" style="display: none;">
              <title style="display:none;"><%=postsinf[i].id %></title>
              <img src=<%=postsinf[i].image %> class="card-img-top" alt="bag" style="height:180px;"/>
              <div class="card-body">
                <h10 class="card-title"><%=postsinf[i].title.substring(0,25) %></h10>
                <h5 style="display:inline;color:#FF4D4D;">$<%= postsinf[i].price %></h5> <strike class="text-muted"> $<%= postsinf[i].price %> </strike>
                <span class="stars">
                  <svg height="20" >
                    <line x1="10" y1="0" x2="170" y2="0" style="stroke:#D3D3D3;stroke-width:2" />
                  </svg>
                  <span class="fa fa-star checked-star"></span>
                <span class="fa fa-star checked-star"></span>
                <span class="fa fa-star checked-star"></span>
                <i class='fa fa-star' style='color: #D3D3D3;'></i>
                <i class='fa fa-star' style='color: #D3D3D3;'></i>
                </span>

                <div class="icons-post">
                  <span class="bg-icons"><i class='fa fa-heart'></i></span>
                  <span class="bg-icons"><i class='fas fa-exchange-alt'></i></span>
                  <span class="bg-icons"><i class='fa fa-eye'></i></span>
                </div>

              </div>
              <div class="div-add">
                <button type="button" name="button" class="btn btn-danger button-addToCart" ><i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i>   ADD TO CART</button>
                <div class="plus-minus" style="display:none;">
                  <i class="fa fa-minus minus-button" aria-hidden="true"></i>
                  <input type="button" disabled name="" value="1" class="range-product">
                  <i class="fa fa-plus plus-button" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <% } %>

        </div>
      </div>
      <a class="carousel-control-prev pre-button" href="#slider-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next next-button" href="#slider-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h3 class="big-heading">Buy your clothes and accessories from us.</h3>
      <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
      <button class="download-button btn btn-lg brn-light btn-outline-dark" type="button"><i class="fab fa-google-play"></i> Download</button>
    </div>
  </section>

  <!-- Features -->

  <section class="white-section"  id="features">
    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon-feature fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>So easy to use, even your child could do it.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon-feature fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Elite Clientele</h3>
          <p>We have all the clothes, the greatest clothes.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon-feature fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work.</h3>
          <p>Find the best accessories you need or get your money back.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright Aliakbar Vafaei Website</p>
    </div>
  </footer>


</body>

</html>
